.homeTask {
  float: left;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 50%;
  background-color: lightgrey;  
}

.homeTask-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  
}

.accident-count{
  width: 50%;
  display: flex;
  justify-content: end;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 25%;
}

.accident-list{
  width: 50%;
  height: 50%;
  overflow-x: scroll;
  margin-left: 25%;
  
}

.accident-list-element{
  color: aliceblue;
  background-color: #856c92;
  border-radius: 2rem;
  list-style: none;
  margin-bottom: 1rem;
  padding-left: 1rem;

}

.accident-list-element-expand{
  background-color: #856c92;
  height: 2rem;
}