.homeTask {
  float: left;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 50%;
  background-color: lightgrey;  
}

.homeTask-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.accident-count{
  width: 45%;
  display: flex;
  justify-content: end;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 25%;
}

.accident-filter-text{ margin: 0;}

.accident-filter{
  font-weight: bold;
  margin-left: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1rem;
}

.accident-list{
  width: 45%;
  height: 60%;
  overflow-x: scroll;
  margin-left: 30%;
}




